<h1>Houses for sale</h1>
<p>This will be a complete list of houses available in the Paducah Area</p>


<table>
    <thead>
        <tr>
            <th>Address</th>
            <th>Price</th>
            <th>Square Feet</th>
            <th>Rooms</th>
            <th>Bathrooms</th>
        </tr>
    </thead>
    <tbody>
        <% @house.each do |house| %> 
        <tr>
            <td><%= house.address %></td>
            <td><%= house.price %></td>
            <td><%= house.sqfeet %></td>
            <td><%= house.rooms %></td>
            <td><%= house.bathrooms %></td>

            <td>Listed By: <%= house.agent.name if house.agent %></td>
        </tr>
        <% end %> 
    </tbody>
</table>